
        *{
            margin: 0 ;
            padding: 0 ;
        }

        body{
            background: #f9cd8f;
            font-family: sans-serif;

        }


        .content{
            
            width: 900px;
            height: 500px;
            margin: 80px 80px;      
        }

        .first{
            
            width: 40%;
            height: 500px;
            background: #474652;
            display: inline-block;
            vertical-align: top;
        }

        .second{
            background: white;
            width: 60%;
            height: 500px;
            display: inline-block;
            vertical-align: top;
            line-height: 20px;
        }
        h1{
            color: white;
            font-weight: 200;
            margin-left: 35px;
            margin: 20px 30px;
       }
        h2{
            color: white;
            font-weight: lighter;
            font-size: 30PX;
            margin: 20PX 30px;
            
        }

        h2:after{
          content: "";
          display: inline-block;
          background: red;
          width: 60px;
          height: 3px;
        }
        img{
          margin-top: 170px;
          margin-left: 50px;
          border-radius: 100%;
          position: absolute;
          width: 80px;
        }

        h4{
          margin: 200px 150px;
          float: right;
          position: absolute;
          color: white;
          font-weight: lighter;
        
        }

        p{
          margin: 50px;
          word-spacing: 1px;
          letter-spacing: 1px;
          color: #666;
        }

        p::first-letter{
          font-size: 30px;
        }